<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="/css/rss.widget.css" rel="stylesheet">
    <link type="text/css" href="/external_modules/scrollbar/css/jquery.tinyscrollbar.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<style wix-style type="text/css">
    #widget-body{
        background-color: {{style.bgColor}}
    }
    #feedTitle{
        color: {{style.titleColor}}
    }
</style>

  <div id="iframe_wrapper">
  </div>
  <script src="http://www.anyroad.com/assets/integration.js"></script>
  <script>
    (function(){
      window.anyroad = new AnyRoad( {
        container: "#iframe_wrapper",
        iframe_style: {width: '100%'},
        tours: { guide: "garvanr" },
        view: 'website',
        referrer: {
          name: "garvanr",
          token: "garvanDr4"
        }
      })
    })()
  </script>

<script type="text/javascript">
    var newSettings = <%= @settings %>;
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.16.0/js/Wix.js"></script>
<script type="text/javascript" src="/js/handlebars.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/external_modules/scrollbar/js/jquery.tinyscrollbar.js"></script>
<script type="text/javascript" src="/js/rss.widget.js"></script>
</body>
</html>